body {
    background-image: url("../img/background.jpg");
}

.converter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    min-width: 600px;
    min-height: 200px;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
}

.converter h1, h3, p {
    padding: 10px;
}

#lang {
    float: right;
    padding: 10px;
}